{% load static %}


          <form method="POST">
            {% csrf_token %}
        <img src="{% static 'images/uoe_logo_2.jpg' %} "alt="">
        <h2>Recover Password</h2>
        {%  for message in messages %}
            {{message}}
            {% endfor %}
      
              {{ form.as_p }}
              <button type="submit" class="btn btn-success">Change Password</button>
          </form>
      <div class="footer">
        <br>
        <footer>
          <p>Powered by CodewithDancan International Limited</p>
        </footer>
      </div>
  </body>
</html>
